doctype html
html( lang="en" )

    head

        include ./fix_elements/header.jade

    body

        include ./fix_elements/top_menu.jade

        block main

        footer
          p
            | Footer
          script(type='text/javascript', src='./js/connect.js')
            
