extends ../../layout.jade

block main
    section 
        h2 2) Renseignez votre url d'échange steam
        form
            label(for='tradeURL')
                a(href='http://steamcommunity.com/id/me/tradeoffers/privacy#trade_offer_access_url') Url d'échange Steam
            input(type='text' id='tradeURL' name='tradeURL')
            