extends ../../layout.jade

block main
    section 
        h2 1) Connexion via votre compte steam
        a.LogInProceedButton(href='http://store.steampowered.com/')
            img(src='./img/in.png', alt='connexion steam')