nav(role="main menu")
  ul
    .navigation__links
      li
        a(href="index" title="Naviguer vers la page d'accueil")
          img(src="./img/logo_medium.png" alt='Logo CS GO Wheel')
      li.connect
        a(href="jouer" title="Naviguer vers la page de jeu") Jouer
      li.connect
        a(href="profil" title="Naviguer vers votre profil") Profil
      li.connect
        a(href="depot" title="Naviguer vers la page dépot") Dépot
      li
        a(href="magasin" title="Naviguer vers la page du magasin") Magasin
    .navigation__steamLog
      li
        a#logButton.steamButton(href="login" title="Naviguer vers la page de connexion de Steam")
          img(src="./img/in.png" alt='Bouton de connexion à Steam')
        
