extends ../layout.jade

block main
  main
    section.slot
      .slot__image
        img(src='./img/slot.png', alt='')
        div.startPlay__button_container
            a.startPlay__button(href='/jouer') Commencer &agrave; jouer
    //section.howToPlay
    //  h2 Comment jouer ?
    //  ol
    //    li
    //      span 1
    //      | Connectez vous via votre compte steam
    //    li
    //      span 2
    //      | Renseignez votre url d&apos;&eacute;change
    //    li
    //      span 3
    //      | Obtenez des coins
    //    li
    //      span 4
    //      | Jouez et r&eacute;cup&eacute;rez vos gains !
    //  .howToPlay__button-container
    //    a.btn.btn-lg.btn-danger(href='/step_one') Commencer la proc&eacute;dure
